.stadium-selected-item-menu {

    .active-menu-item,
    .active-menu-item:hover {
        background-color: var(--active-menu-item-background-color, var(--MENU-ITEM-FONT-COLOR));
        border-color: var(--active-menu-item-border-color, var(--MENU-ITEM-FONT-COLOR));
        cursor: default;
        font-weight: var(--active-menu-item-font-weight, bold);

        span {
            color: var(--active-menu-item-font-color, var(--MENU-BACKGROUND-COLOR));
        }
    }
}